<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Files</title>
</head>
<body>
    <h1>View Files</h1>

    <div>
        <table>
            <thead>
                <tr>Uploaded Files</tr>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="file: ${files}">
                    <td th:text="${file.id}"></td>
                    <td th:text="${file.data}"></td>
                    <td th:text="${file.name}"></td>
                    <td><button th:href="@{/delete/{id}(id=${file.getId()})}" onclick="return confirm('Are you sure you want to delete this file?')">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>